= jquery_mobile_page(:id => "entry-list", :data => {:entry_ids => @lister.entries.map(&:id).join(',') }) do
  %div{:data => { :role => 'header', :position=>"fixed" }}
    -back_button_data = {:shadow=>"false", :iconshadow=>"false", :icon=>"arrow-l", :iconpos=>"notext"}
    =link_to "Back", dashboard_index_path, :data => back_button_data
    %h1=@lister.title
  %div{:data => { :role => 'content' }}
    -if @lister.entries.blank?
      #no-entries
        ="No #{['unread','starred'].include?(@lister.filter) ? @lister.filter : nil} entries found for #{@lister.title}"
    -else
      %ul{:data => { :role=>"listview", :count_theme=>"c", :inset=>"true"}}
        -@lister.entries.each do |entry|
          -classes = []
          -classes << (entry.read ? 'read' : 'unread')
          -classes << (entry.starred ? 'starred' : 'unstarred')
          %li.entry{:class => classes.join(' ')}
            =link_to entry.title.html_safe, entry_path(entry, :type => @lister.type, :filter => @lister.filter, :identifier => @lister.identifier)
