= jquery_mobile_page(:id => "login-form") do
  %div{:data => { :role => 'header', :position=>"fixed" }}
    %h1 My Own RSS Reader

  %div{:data => { :role => 'content' }}
    = render :partial => "form"