=jquery_mobile_page(:id => "new-user") do
  %div{:data => { :role => 'header', :position=>"fixed" }}
    -back_button_data = {:shadow=>"false", :iconshadow=>"false", :icon=>"arrow-l", :iconpos=>"notext"}
    =link_to "Back", settings_dashboard_index_path, :data => back_button_data
    %h1 New User
  
  %div{:data => {:role => 'content'}}
    = render :partial => "form"
 