#settings{:data => {:role => 'page', :theme => jquery_mobile_theme, :url => "/feeds/new" }}
  %div{:data => { :role => 'header', :position=>"fixed" }}
    -back_button_data = {:shadow=>"false", :iconshadow=>"false", :icon=>"arrow-l", :iconpos=>"notext"}
    =link_to "Back", settings_dashboard_index_path, :data => back_button_data
    %h1 New Feed
  
  %div{:data => { :role => 'content'}}
    = render :partial => "form"