=jquery_mobile_page(:id => "edit-folder") do
  %div{:data => { :role => 'header', :position=>"fixed" }}
    -back_button_data = {:shadow=>"false", :iconshadow=>"false", :icon=>"arrow-l", :iconpos=>"notext"}
    =link_to "Back", settings_dashboard_index_path, :data => back_button_data
    %h1=@folder.name
  
  %div{:data => { :role => 'content'}}
    = link_to "Delete", folder_path(@folder), :method=>"delete", :data => {:role=>'button', :icon=>"delete", :confirm => "Are you sure?"}
    = render :partial => "form"